@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Tulpen+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

main{
    display: grid;
    gap: 20px;
    padding: 20px;
}

#formContainer{
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(196, 196, 196);
}

#formContainer > H1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Tulpen One', cursive;
    font-size: 4rem;
}

#formContainer > form{
    display: flex;
    flex-direction: column;
    gap: 5px
}

#formContainer > form > input{
    padding: 8px;
    border-radius: 6px;
    border: 2px solid rgb(212, 210, 210);
}

#formContainer > form > button{
    margin-top: 10px;
    padding: 8px;
    border-radius: 50px;
    border: none;
    background-color: rgb(38, 211, 197);
    color: white;
}

#formContainer > form > button:hover{
    cursor: pointer;
    transform: scale(0.97);
    background-color: rgb(24, 152, 141);
}



table, td, th, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

th{
    background-color: black;
    color: white;
    padding: 10px 5px;
}

td{
    padding: 10px 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    main{
        grid-template-columns: 1fr;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main{
        grid-template-columns: 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    main{
        display: grid;
        grid-template-columns: 1fr 1.8fr;
    }
}
