{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Juegos/css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'Juegos/css/styles.css' %}" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>
<body>
    <form action="" enctype="multipart/form-data" name="formulario">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre del Videojuego</label>
            <input class="form-control" type="text" id="nombre1" name="nombre1">
        </div>

        <div class="form-group">
            <label>Año de lanzamiento</label>
            <input class="form-control" type="number" id="año1" name="año1">
        </div>

        <div class="form-group">
            <label>Imagen</label>
            <input class="form-control" type="file" id="imagen1" name="imagen1">
        </div>

        <div class="form-group">
            <label>Categoria</label>
            <select name="categoria1" id="categoria1">
                {% for c in lista_c %}
                <option value="{{ c.IdCategoria }}">{{ c.nombreCategoria }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Registrar Videojuego</button>
    </form>
</body>
</html>